extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      error= message
      each aster in asteroids 
        .card
          .card-block
            h4
              a(href='/')= aster.name
              br
              a(href='/')= aster.address
              br
              a(href='/')= aster.rating
    //- .col-12.col-md-4
    //-   p.lead= sidebar